<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Ajouter un Menu</h1>
    <form method="POST">
        <label for="nom_menu">Nom du Menu :</label>
        <input type="text" name="nom_menu" required><br><br>

        <label for="prix">Prix :</label>
        <input type="number" name="prix" step="0.01" required><br><br>

        <label for="description">Description :</label>
        <textarea name="description" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Ajouter le Menu">
    </form>

</body>
</html>
