<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Plat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Ajouter un Plat</h1>
    <form method="POST">
        <label for="nom_plat">Nom du Plat :</label>
        <input type="text" name="nom_plat" required><br><br>

        <label for="prix">Prix :</label>
        <input type="number" name="prix" step="0.01" required><br><br>

        <label for="Type">Type :</label>
        <select name="Type" required>
            <option value="viande">Viande</option>
            <option value="poisson">Poisson</option>
            <option value="végétarien">Végétarien</option>
            <option value="autre">Autre</option>
        </select><br><br>

        <label for="calories">Calories :</label>
        <input type="number" name="calories" required><br><br>

        <input type="submit" value="Ajouter le Plat">
    </form>

</body>
</html>
