<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Ajouter un Client</h1>
<form method="POST">
    <label for="nom">Nom :</label>
    <input type="text" name="nom" required><br><br>

    <label for="adresse">Adresse :</label>
    <input type="text" name="adresse" required><br><br>

    <label for="email">Email :</label>
    <input type="email" name="email" required><br><br>

    <label for="reservation">Réservation :</label>
    <input type="checkbox" name="reservation"><br><br>

    <input type="submit" value="Ajouter le Client">
</form>

</body>
