<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Boisson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Ajouter un Avis</h1>
<form method="POST">
    <label for="id_client">Client :</label>
    <select name="id_client" required>
        {% for client in clients %}
        <option value="{{ client[0] }}">{{ client[1] }}</option>
        {% endfor %}
    </select><br><br>

    <label for="note">Note :</label>
    <input type="number" name="note" min="1" max="5" required><br><br>

    <label for="commentaire">Commentaire :</label>
    <textarea name="commentaire" required></textarea><br><br>

    <label for="date">Date :</label>
    <input type="date" name="date" required><br><br>

    <input type="submit" value="Ajouter l'Avis">
</form>

</body>
