<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Boisson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Ajouter une Boisson</h1>
    <form method="POST">
        <label for="nom_boisson">Nom de la Boisson :</label>
        <input type="text" name="nom_boisson" required><br><br>

        <label for="prix">Prix :</label>
        <input type="number" name="prix" step="0.01" required><br><br>

        <label for="Type">Type :</label>
        <select name="Type" required>
            <option value="alcool">Alcool</option>
            <option value="soda">Soda</option>
            <option value="jus">Jus</option>
            <option value="eau">Eau</option>
        </select><br><br>

        <label for="calories">Calories :</label>
        <input type="number" name="calories" required><br><br>

        <input type="submit" value="Ajouter la Boisson">
    </form>

</body>
</html>