<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="page-header">
        <h1>Bienvenue sur le "My Dream"</h1>
    </div>

    

    <h2>Liste des Clients</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Réservation</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client[1] }}</td>
            <td>{{ client[2] }}</td>
            <td>{{ client[3] }}</td>
            <td>{{ 'Oui' if client[4] else 'Non' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_client') }}">Ajouter un Client</a>

<h2>Liste des Menus</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for menu in menus %}
        <tr>
            <td>{{ menu[1] }}</td> <!-- Nom du menu -->
            <td>{{ menu[2] }}</td> <!-- Prix -->
            <td>{{ menu[3] }}</td> <!-- Description -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_menu') }}">Ajouter un Menu</a>


<h2>Liste des Avis</h2>
<table>
    <thead>
        <tr>
            <th>Client</th>
            <th>Note</th>
            <th>Commentaire</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for avis in avis %}
        <tr>
            <td>{{ avis[1] }}</td>
            <td>{{ avis[2] }}</td>
            <td>{{ avis[3] }}</td>
            <td>{{ avis[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_avis') }}">Ajouter un Avis</a>

<h2>Liste des Commandes</h2>
<table>
    <thead>
        <tr>
            <th>Client</th>
            <th>Date</th>
            <th>Prix</th>
            <th>Mode de Paiement</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
        <tr>
            <td>{{ commande[1] }}</td>
            <td>{{ commande[2] }}</td>
            <td>{{ commande[3] }}</td>
            <td>{{ commande[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_commande') }}">Ajouter une Commande</a>


<h2>Liste des Plats</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Type</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        {% for plat in plats %}
        <tr>
            <td>{{ plat[1] }}</td> <!-- Nom_Plat -->
            <td>{{ plat[2] }}</td> <!-- Prix -->
            <td>{{ plat[3] }}</td> <!-- Type -->
            <td>{{ plat[4] }}</td> <!-- Calories -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_plat') }}">Ajouter un Plat</a>
    


<h2>Liste des Boissons</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Type</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        {% for boisson in boissons %}
        <tr>
            <td>{{ boisson[1] }}</td> <!-- Nom_Boisson -->
            <td>{{ boisson[2] }}</td> <!-- Prix -->
            <td>{{ boisson[3] }}</td> <!-- Type -->
            <td>{{ boisson[4] }}</td> <!-- Calories -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_boisson') }}">Ajouter une Boisson</a>



</body>
</html>
